<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">
    <title>Tesseract</title>
  </head>
  <body>
    <div class="section">
      <div class="container">
          <h1 class="section-heading">Tesseract</h1>
          <p><a href="https://github.com/mrcxtkl">@mrcxtkl</a> - all rights reserved</p>
          <form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*"/>

            <button class="button-primary">Upload</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
